
*.exe
*.dem
yHighlights/bin/Debug/DemoInfo.dll
yHighlights/obj/Debug/yHighlights.pdb
yHighlights/bin/Debug/yHighlights.pdb
.vs/yHighlights/v17/.suo
.vs/yHighlights/FileContentIndex/f7fd987e-f4a4-401a-bc3b-5dc0b1e18178.vsidx
.vs/yHighlights/FileContentIndex/68e05eae-38b3-4383-bfa1-94d7a9a18aac.vsidx
.vs/yHighlights/FileContentIndex/63621058-453e-401e-9019-8e447027ae04.vsidx
.vs/yHighlights/FileContentIndex/5c830ce6-92e5-4373-afa7-79f756acf1a1.vsidx
.vs/yHighlights/FileContentIndex/4dfdbf81-82e8-4a2d-a6ef-4eda5c6784e8.vsidx
.vs/yHighlights/FileContentIndex/38c6fd14-3b7c-4113-b675-706c5780466f.vsidx
.vs/yHighlights/FileContentIndex/29d09f58-b091-4d99-a152-b52a19b2b207.vsidx
.vs/yHighlights/FileContentIndex/11f55f61-db56-403b-85fb-b3e98a53e6c7.vsidx
yHighlights/obj/Debug/yHighlights.pdb
yHighlights/bin/Debug/yHighlights.pdb
.vs/yHighlights/v17/.suo
.vs/*
yHighlights/bin
